:root {
  --primary-font: "Roboto", sans-serif;
  --title-font: "Playfair Display", serif;
}

body {
  background-color: #121c2c;
  font-family: var(--primary-font);
  color: #fff;
}

.card {
  color: #000;
  background-color: #fff;
  font-family: var(--primary-font);
  margin: 30px 0;
}

.card-body {
  padding: 24px;
}

.card-footer {
  padding: 0 30px 30px;
}

.card p {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 8px;
}

.card a{
  text-decoration: none;
}

.card button {
  background-color: #9db898;
  border-color: #9db898;
  border-radius: 8px;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 21px;
  margin: 35px auto;
  padding: 16px;
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 55px;
}

.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}

.grid-2-columns img {
  max-height: 670px;
  max-width: 600px;
  box-shadow: 7px 7px 12px #e4e4e4;
}

.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-footer-columns {
  grid-template-columns: 1fr 2fr 2fr;
}

.img-responsive {
  max-width: 100%;
  display: block;
}

.text-center {
  text-align: center;
}

header {
  background-image: linear-gradient(
      rgba(18, 28, 44, 0.4),
      rgba(18, 28, 44, 0.4)
    ),
    url(../images/rihanna-hero-pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 200px 0;
}

header button {
  font-family: var(--primary-font);
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.5;
  margin-top: 40px;
  text-transform: uppercase;
  text-align: center;
  padding: 16px 32px;
  gap: 8px;
}

header h1 {
  font-family: var(--title-font);
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-size: 42px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  text-transform: capitalize;
}

header h3 {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

main {
  background-color: #c1a46b;
}

main h2 {
  color: #4a0d12;
  font-family: var(--primary-font);
  font-size: 17px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 6px;
  margin: 0;
  text-transform: uppercase;
}

main h3 {
  font-family: var(--title-font);
  font-size: 36px;
  font-weight: 700;
  margin-top: 9px;
}

main h4 {
  font-family: var(--primary-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0;
}

main h5 {
  font-family: var(--primary-font);
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0;
}

main p {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(../images/rihanna-tour-pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #988d89;
}

footer h3 {
  font-family: var(--title-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

footer p {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

footer li {
  margin-bottom: 8px;
  list-style: none;
  padding: 0;
}

footer ul {
  padding: 0;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 75px;
}

section.secondary {
  background-color: #b29762;
}

@media (max-width: 960px) {
  header {
    background-position: center;
    padding: 30px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 21px;
  }

  header h3 {
    font-size: 13px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 15px;
    text-align: center;
  }

  .grid-2-columns img {
    display: none;
  }

  .card img {
    display: none;
  }

  section {
    padding: 20px;
  }
}
